@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat&family=Pacifico&family=Roboto&family=Titillium+Web&display=swap");
body {
  margin: 0;
  /* font-family: "Forum", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif; */
  /* background-color: #f2f1ec; */
  /* font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(5, 8, 40), rgb(1, 4, 39)); 
  background-image: linear-gradient(to left, #000000, #1a1a1a); */
}
